@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #050505;
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-400;
  }

  .text-gradient-brand {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-brand-pink;
  }
}